<div class="product-list__wrapper">
  @if (products().length) {
    <ul class="product-list">
      @for (product of products(); track product.url + product.title) {
        <li class="product-list__item">
          <app-product-card [product]="product"></app-product-card>
        </li>
      }
    </ul>

    @if (displayShowMoreButton()) {
      <button class="product-list__more-button" (click)="loadMoreClick()" [disabled]="isLoading()">
        @if (isLoading()) {
          <div class="loader-s product-list__more-button-loader" area-valuetext="loading"></div>
        }
        Load more
      </button>
    }
  }

  @if (!products().length && isLoading()) {
    <div area-valuetext="loading" class="product-list__loader-container">
      <div class="loader-l"></div>
    </div>
  }

  @if (!products().length && !isLoading()) {
    sorry, we wasn't able load anything :((((((((
  }
</div>

