<div class="product-list__wrapper">
  @if (products().length) {
    <ul class="product-list">
      @for (product of products(); track product.url + product.title) {
        <li class="product-list__item">
          <app-product-card [product]="product"></app-product-card>
        </li>
      }
    </ul>

    @if (displayShowMoreButton()) {
      <button class="product-list__more-button" (click)="loadMoreClick()" [disabled]="isLoading()">
        @if (isLoading()) {
          <div class="loader-s product-list__more-button-loader" aria-valuetext="loading"></div>
        }
        Load more
      </button>
    }
  }

  @if (!products().length && isLoading()) {
    <div aria-valuetext="loading" class="product-list__loader-container">
      <div class="loader-l"></div>
    </div>
  }

  @if (displayLoadingError()) {
    @if (products().length) {
      <p class="product-list__error-notification">
        <img class="product-list__error-notification-icon"
             src="assets/images/alert.svg"
             alt="Alert Icon"/>
        Something went wrong during products loading. Please, try again
      </p>
    } @else {
      <div class="product-list__error">
        <img class="product-list__error__image" src="assets/images/cat.png" alt="Cat"/>
        <div class="product-list__error__text-container">
          <h1 class="product-list__error__main-message">
            Sorry, something went wrong during products loading :(
          </h1>
          <p class="product-list__error__details">
            We were able to only load this cat for you
          </p>
          <p class="product-list__error__action">
            Please, try again later
          </p>
        </div>
      </div>
    }
  }
</div>

